[user]
  name = Phi
  email = phihdn@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL3DwCfKM834Tipn3qaQXi9zU4+lwd7LvoJyS7Gv8la1
[gpg]
  format = ssh
[gpg "ssh"]
  program = {{ if eq .chezmoi.os "darwin" }}"/Applications/1Password.app/Contents/MacOS/op-ssh-sign"{{ else }}"/opt/1Password/op-ssh-sign"{{ end }}
[includeIf "gitdir:~/ws/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/ws/work/"]
  path = ~/.gitconfig-work
[url "git@github.com:"]
  insteadOf = "gh:"
[init]
  defaultBranch = main
[pull]
  rebase = true
[status]
  branch = true
  showStash = true
  showUntrackedFiles = all
